.incorrect_text_input {
  border-color: red;
  background-color: pink;
}

.focus_text_input {
  background-color: rgb(195, 230, 69);
}

input {
  display: block;
}

.error_message {
  margin: 0;
  font-size: small;
  color: crimson;
}

.success-popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.success-popup-content {
  background-color: white;
  margin: auto;
  margin-top: 15%;
  padding: 20px;
  width: 500px;
}