extends shared_layout

block scripts
  script(type='module').
    import {komunikat} from './scripts/modul.mjs';
    console.log(komunikat);

block styles
  link(rel='stylesheet' href='/styles/main_style.css')

block content
  aside
    .promocje
      h1
        | Promocje
      h2
        | G&oacute;ry promocja
      p
        | od 30 do 31 luteg
      a(href='') rezerwuj
      h2
        | Inna promocja
      p
        | od 21 do 37 kwietnia
      a(href='') rezerwuj
      h2
        | Ostateczna oferta promocyjna
      p
        | od wczoraj do jutro
      a(href='') rezerwuj
    .porady
      h1
        | Porady
      p
        | Co zabra&cacute; na wycieczk&eogon;?
      p
        | Kiedy najlepiej wyjecha&cacute;?
      p
        | Jakie buty s&aogon; najwygodniejsze?
  main
    case listaWycieczek.length
      when 0
        .error_message
          | Brak wycieczek
      default
        each wycieczka in listaWycieczek
          section
            img(src=wycieczka.image alt='(obrazek przedstawiający wycieczkę)')
            .opis
              h1
                | #{wycieczka.name}
              p.streszczenie
                | #{wycieczka.short_desc}
              p.cena cena: #{wycieczka.price.toFixed(2)} zł
              a(href='/wycieczka/' + wycieczka.name) Zarezerwuj