extends shared_layout

block scripts
  script(type='module')
    - if(popup_message != null)
      | let body = document.querySelector("body");
      | import {spawn_popup} from '/scripts/modul.mjs';
      | spawn_popup("#{popup_message}", body);

  script(src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js")
  script(type='module').
    let template = Handlebars.compile(' \
    {{#each trips}} \
      <section> \
        <img src="{{image}}" alt="(obrazek przedstawiający wycieczkę)"> \
      </section> \
      <div class="opis"> \
        <h1>{{name}}</h1> \
        <p class="streszczenie">{{short_desc}}</p> \
        <p class="cena">cena: {{price}} zł</p><a href="/wycieczka/{{name}}">Zarezerwuj</a> \
      </div> \
    {{/each}} \
    ');
    let trips = await fetch('/api/wycieczki/all/');
    let data = await trips.json();
    let rendered = template(data);
    let main = document.querySelector("main");
    main.innerHTML = rendered;
    console.log("end");

block styles
  link(rel='stylesheet' href='/styles/main_style.css')

block content
  aside
    .promocje
      h1
        | Promocje
      h2
        | G&oacute;ry promocja
      p
        | od 30 do 31 luteg
      a(href='') rezerwuj
      h2
        | Inna promocja
      p
        | od 21 do 37 kwietnia
      a(href='') rezerwuj
      h2
        | Ostateczna oferta promocyjna
      p
        | od wczoraj do jutro
      a(href='') rezerwuj
    .porady
      h1
        | Porady
      p
        | Co zabra&cacute; na wycieczk&eogon;?
      p
        | Kiedy najlepiej wyjecha&cacute;?
      p
        | Jakie buty s&aogon; najwygodniejsze?
  main
    | tekst