extends shared_layout

block title 
  | Formularz rejestracji

block scripts
  script(type='module')
    | import {add_form_check_listener} from '/scripts/modul.mjs';
    | import {check_registration_input} from '/scripts/modul.mjs';
    | import {add_focus_listeners} from '/scripts/modul.mjs';
    | let form = document.querySelector(".reserve_form");
    | add_form_check_listener(form, check_registration_input);
    | let body = document.querySelector("body");
    | let content = document.querySelector(".content");
    | add_focus_listeners(content);
    | import {komunikat} from '/scripts/modul.mjs';
    | console.log(komunikat);
    
    - if(errorDescription != null)
      | import {spawn_popup} from '/scripts/modul.mjs';
      | spawn_popup("#{errorDescription}", body);
      

block styles
  link(rel='stylesheet' href='/styles/formularz_style.css')

block content
  form.reserve_form(method='post')
    label(for='name') imi&eogon;
    input#name(type='text', name='name')
    p.error_message

    label(for='surname') nazwisko
    input#surname(type='text', name='surname')
    p.error_message

    label(for='email') email
    input#email(type='email', name='email')
    p.error_message

    label(for='password') hasło
    input#password(type='password', name='password')
    p.error_message

    label(for='password_repeat') powtórzone hasło
    input#password_repeat(type='password', name='password_repeat')
    p.error_message

    button(type='submit') register