.incorrect_text_input {
  border-color: red;
  background-color: pink;
}

.focus_text_input {
  background-color: rgb(195, 230, 69);
}

input {
  display: block;
}

.error_message {
  margin: 0;
  font-size: small;
  color: crimson;
}